body {
    background-color: #c4d1eb;
}
.customer-input {
    width: 70%;
    margin: 60px auto;
    background-color: #a4c0db;
    border-radius: 50px;
    padding: 100px 100px;
    box-shadow: 0px 0px 120px #050505;
    position: relative;

    h1 {
        text-align: center;
        color: #2d3c57;
    }

    form {
        h3 {
            color: slategray;
        }
        label {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: large;
            color: #193b4b;

            input {
                border: none;
                border-radius: 5px;
                outline: none;
                min-width: 40%;
                padding: 5px 10px;
                background-color: #fff;

                &:hover {
                    background-color: #c4d1eb;
                }
            }
        }

        #add-panel-btn,
        #delete-panel-btn {
            margin-right: 5px;
            margin-bottom: 5px;
            background-color: #b3e6b3;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            padding: 8px 12px;
            background-color: #327032;
            color: #92f392;
            
            &:hover {
                background-color: #104b10;
                box-shadow: 0px 0px 10px #041604;
            }
        }

        #delete-panel-btn {
            background-color: #fd5050;
            color: #f8e0e0;
            
            &:hover {
                background-color: #fa2c2c;
                box-shadow: 0px 0px 10px #690303;
            }
        }
    }
}

.panel-inputs-increment {
    background-color: #0d1f30;
    box-shadow: 0px 0px 25px #22404e;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 50px;

    label{
        color: #8a9ca5 !important;
    }

}

.preview-panel-img {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;

    .images {
        left: -100px;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        margin: 5px;
        position: relative;
    }
    .image button {
        position: absolute;
        background-color: lightcoral;
        border-radius: 5px;
        border: none;
        color: #fff;
        right: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
            background-color: red;
        }
    }
}

@media screen and (max-width: 600px) {
    .customer-input {
        width: 95%;
        padding: 60px 20px;

        form {
            label {
                input {
                    min-width: 50%;
                    max-height: 43px;
                    padding: 5px 10px;
                    background-color: #fff;

                    &:hover {
                        background-color: #dadada;
                    }
                }
            }
        }
    }

    .panel-inputs-increment {
        padding: 15px;
    }
    .dropdown {
        min-width: 45%;
        margin-left: 15px;
    }
}
