body {
    background-color: #c4d1eb;
}
.customer-input {
    width: 70%;
    margin: 60px auto;
    background-color: #abc7e0;
    border-radius: 50px;
    padding: 100px 100px;
    box-shadow: 0px 0px 120px #050505;
    position: relative;

    h1 {
        text-align: center;
        color: #2d3c57;
    }

    form {
        h3 {
            color: slategray;
        }
        label {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: large;
            color: #193b4b;

            input,
            select {
                display: unset;
                max-height: 42px;
                border: none;
                border-radius: 5px;
                outline: none;
                width: 40%;
                padding: 5px 10px;
                background-color: #dce4f3;

                &:hover {
                    background-color: #fff;
                }
            }
        }

        #add-panel-btn,
        #delete-panel-btn {
            margin-right: 7px;
            margin-bottom: 10px;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            padding: 7px 10px;
            background-color: #1c5494;
            color: #c4e0ff;
            box-shadow: 0px 0px 12px #000000;

            &:hover {
                background-color: #0b77f3;
            }
        }

        #delete-panel-btn {
            background-color: #a52d2d;
            color: #f8e0e0;
            box-shadow: 0px 0px 12px #0e0000;

            &:hover {
                background-color: #d31c1c;
            }
        }

        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-primary);
        }
    }
}

.panel-inputs-increment {
    background-color: #151e50;
    box-shadow: 0px 0px 25px #aed7eb;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 50px;

    label {
        color: #8a9ca5 !important;
    }
}

.preview-panel-img {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;

    .images {
        left: -100px;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        margin: 5px;
        position: relative;
    }
    .image button {
        position: absolute;
        background-color: lightcoral;
        border-radius: 5px;
        border: none;
        color: #fff;
        right: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
            background-color: red;
        }
    }
}

.hero-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;

    img {
        height: 100px;
    }
}

@media screen and (max-width: 700px) {
    .customer-input {
        width: 95%;
        padding: 60px 20px;
        border-radius: 25px;

        form {
            label {
                font-size: 15px;
                input {
                    width: 170px;
                    height: 35px;
                    padding: 5px 10px;
                    background-color: #eff8ff;

                    &:hover {
                        background-color: #fff;
                    }
                }

                select {
                    min-width: 170px;
                }
            }
        }
    }

    .panel-inputs-increment {
        padding: 15px;
    }
    .dropdown {
        min-width: 170px;
        margin-left: 15px;
    }

    .hero-logo {
        img {
            height: 50px;
        }
    }
}
